---
layout: default
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header">
      <h1 class="project-name">{{ page.title | default: site.title }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description }}</h2>
    </header>

    {% include navigation.html %}

    <main class="main-content">
      {{ content }}
    </main>

    <footer class="site-footer">
      <span class="site-footer-owner">
        <a href="{{ site.url }}">{{ site.title }}</a> &copy; {{ site.time | date: '%Y' }}
      </span>
    </footer>
  </body>
</html>
